In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\muhammad waseem\appdata\local\programs\python\python312\lib\site-packages (2.2.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.26.0 in c:\users\muhammad waseem\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\muhammad waseem\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\muhammad waseem\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\muhammad waseem\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\muhammad waseem\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd

In [6]:
df= pd.read_excel('FlooddataMasterListrev.xlsx')
df.head()

,Register #,Annual DFO # (discontinued),Glide #,Country,Other,Nations,Affected,Detailed Locations (click on active links to access inundation extents),Validation (post event #3503),Began,...,Latitude of Centroid Y,"""News"" if validated",M>6,Total annual floods M>6,M>4,Total annual floods M>4,Date Began,Total floods M>6,Total floods M>4,Notes and Comments (may include quoted headlines from copyrighted news stories; for internal research purposes only)
0,4214.0,NaN,FL-2014-000163-COL,Columbia,0,NaN,NaN,Chocó,News,2014-11-01,...,4.59198,News,1.0,98.0,1.0,199.0,2014-11-01,1110.0,3682.0,"December 10, 2015, 2014: A second rainy seaso..."
1,4213.0,NaN,0,USA,0,NaN,NaN,"Bay Area, and Sacramento, north coastal Califo...",News,2014-12-11,...,39.79670,News,0.0,97.0,1.0,198.0,2014-12-11,1109.0,3681.0,"December 12, 2014: ""Today's predicted, panic-..."
2,4212.0,NaN,0,Brazil,0,NaN,NaN,Eastern Sao Paulo,News,2014-12-10,...,-24.85130,News,0.0,97.0,1.0,197.0,2014-12-10,1109.0,3680.0,"December 11, 2014: ""Sao Paulo floodwaters lea..."
3,4211.0,NaN,0,Bulgaria,Greece,NaN,NaN,Northern Greece and along the country's northe...,News,2014-12-04,...,41.45790,News,1.0,97.0,1.0,196.0,2014-12-04,1109.0,3679.0,"December 12, 2014: ""After heavy rain and flood..."
4,4210.0,NaN,0,Palestine,0,NaN,NaN,Gaza,News,2014-11-26,...,31.33780,News,0.0,96.0,1.0,195.0,2014-11-26,1108.0,3678.0,"November 28, 2014: ""The United Nations Relief..."

In [7]:
df.shape

(4241, 30)

In [8]:
df.index

RangeIndex(start=0, stop=4241, step=1)

In [10]:
df.columns

Index(['Register #', 'Annual DFO # (discontinued)', 'Glide #', 'Country',
       'Other', 'Nations', ' Affected',
       'Detailed Locations (click on active links to access inundation extents)',
       'Validation (post event #3503)', 'Began', 'Ended', 'Duration in Days',
       'Dead', 'Displaced', 'Damage (USD)', 'Main cause', 'Severity *',
       'Affected sq km', 'Magnitude (M)**', 'Longitude of Centroid X',
       'Latitude of Centroid Y', '"News" if validated', 'M>6',
       'Total annual floods M>6', 'M>4', 'Total annual floods M>4',
       'Date Began', 'Total floods M>6', 'Total floods M>4',
       'Notes and Comments (may include quoted headlines from copyrighted news stories; for internal research purposes only)'],
      dtype='object')